<section class="container">
    <div class="py-12 sm:py-14 lg:py-24 xl:py-32 text-xs sm:text-sm xl:text-base text-light-grey font-normal grid grid-cols-3 grid-rows-auto gap-x-6 sm:gap-x-8 lg:gap-x-10 gap-y-12 sm:gap-y-14 lg:gap-y-16 xl:gap-y-20">
        <h2 class="sm:mb:6 lg:mb-10 xl:mb-[70px] text-3xl sm:text-4xl xl:text-5xl text-dark-blue font-semibold col-start-2 col-span-1 row-span-1 justify-self-center">Careers</h2>

        <p class="col-span-1 row-start-2 row-span-1">COMPANY</p>
        <p class="col-start-2 col-span-1 row-start-2 row-span-1 justify-self-center">POSITION</p>
        <p class="col-start-3 col-span-1 row-start-2 row-span-1 justify-self-end">YEAR</p>

        <p class="col-span-1 row-start-3 row-span-1"><span class="text-dark-blue font-semibold">Massa Fames </span>/ New York</p>
        <p class="col-start-2 col-span-1 row-start-3 row-span-1 justify-self-center text-center">Junior Front-End Developer</p>
        <p class="col-start-3 col-span-1 row-start-3 row-span-1 justify-self-end">2016</p>

        <p class="col-span-1 row-start-4 row-span-1"><span class="text-dark-blue font-semibold">Massa Fames </span>/ New York</p>
        <p class="col-start-2 col-span-1 row-start-4 row-span-1 justify-self-center text-center">Junior Front-End Developer</p>
        <p class="col-start-3 col-span-1 row-start-4 row-span-1 justify-self-end">2016</p>

        <p class="col-span-1 row-start-5 row-span-1"><span class="text-dark-blue font-semibold">Massa Fames </span>/ New York</p>
        <p class="col-start-2 col-span-1 row-start-5 row-span-1 justify-self-center text-center">Junior Front-End Developer</p>
        <p class="col-start-3 col-span-1 row-start-5 row-span-1 justify-self-end">2016</p>
    </div>
</section>