---
import Button from "./Button.astro";
---

<header class="container mt-24">
    <div class="flex justify-between items-center">
        <a href="#" class="bg-logo-light-purple h-15.5 w-15.5 rounded-full  text-logo-text-color text-2xl font-semibold flex justify-center items-center">
            <p class="rotate-30 pr-[14.41px] pl-[16px]">D</p>
        </a>
        
        <nav>
            <ul class="flex justify-center items-center gap-x-4 text-light-grey text-lg">
                <li><a href="#" class="px-8 py-3">Services</a></li>
                <li><a href="#" class="px-8 py-3">Works</a></li>
                <li><a href="#" class="px-8 py-3">Blog</a></li>
                <li class="ml-8">
                <Button title="Hire me"></Button>
                </li>
            </ul>
        </nav>
    </div>
</header>