---
import Link from "./Link.astro";

interface Props {
    title: string,
    description: string,
    linkText: string,
    class?: string
}

const { title, description, linkText, class: className } = Astro.props
---


<div class:list={['p-6 flex flex-col items-start gap-5 rounded-md transition-colors duration-300 hover:bg-logo-light-purple', className]}>
    <h3 class="text-lg text-dark-blue font-semibold">
        { title }
    </h3>
    <p class="text-xs text-light-grey font-normal">
        { description }
    </p>
    <Link>
        { linkText }
    </Link>
</div>