---
import { Image } from "astro:assets";
import offersPhoto from "../images/offers-photo.jpg";
import Offer from "./Offer.astro";
---

<section>
    <div class="container my-40">
        <h2 class="text-5xl text-dark-blue font-semibold">
            From beginning ideas to individual integrity, rich identity from the
            line
            <span class="text-dark-purple">on the paper to final projects</span>
        </h2>

        <div class="mt-24 flex flex-row items-center">
            <Image src={offersPhoto} alt="" />

            <div class="ml-6 mr-8 flex flex-col gap-y-4">
                <Offer 
                    title="Web design" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />

                <Offer 
                    title="Branding" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />

                <Offer 
                    title="Photography" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />
            </div>

            <div class="flex flex-col gap-y-4">
                <Offer 
                    title="Mobile design" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />

                <Offer 
                    title="3D Modeling" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />

                <Offer 
                    title="Video creating" 
                    description="Provide our customers with optimized user-friendly experience to increase the efficiency of digital products."
                    linkText="See Works"
                />
            </div>

        </div>
    </div>
</section>
