---
import projectsPhoto1 from "../images/projects-photo1.jpg";
import projectsPhoto2 from "../images/projects-photo2.jpg";
import projectsPhoto3 from "../images/projects-photo3.jpg";
import projectsPhoto4 from "../images/projects-photo4.jpg";
import ProjectImage from './ProjectImage.astro';
---

<section>
    <div class="container py-14 sm:py-24 lg:py-32 xl:py-40">
        <h2 class="mb-10 md:mb-16 xl:mb-[150px] text-dark-blue text-3xl sm:text-4xl xl:text-5xl font-semibold text-center">It's great to always give the customer the best feed.</h2>

        <div class="grid gap-[30px] grid-cols-2 grid-flow-row">
            <ProjectImage image={projectsPhoto1} alt="Project photo 1" title="Project title here" sponsor="Google" />
            <ProjectImage image={projectsPhoto2} alt="Project photo 2" title="Project title here" sponsor="Amazon" class="row-span-2" />
            <ProjectImage image={projectsPhoto3} alt="Project photo 3" title="Project title here" sponsor="Netflix" />
            <ProjectImage image={projectsPhoto4} alt="Project photo 4" title="Project title here" sponsor="Amazon" class="!col-span-2 min-h-[149px]" />
        </div>
    </div>
</section>