<section>
    <div class="container flex flex-wrap md:flex-nowrap justify-center md:justify-between py-12 sm:py-14 xl:py-24 gap-x-10 sm:gap-x-12 md:gap-x-14 lg:gap-x-16 xl:gap-x-20 gap-y-12 sm:ga-y-0">
        <div class="max-w-56 md:max-w-none flex flex-col items-center text-center">
            <div class="w-20 sm:w-28 xl:w-[140px] h-20 sm:h-28 xl:h-[140px] bg-services-light-purple flex justify-center items-center rounded-md">
                <svg
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-7 sm:w-8 xl:w-10 h-7 sm:h-8 xl:h-10"
                >
                    <path
                        d="M30 33.3333V16.6666"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                    <path
                        d="M20 33.3333V6.66663"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                    <path
                        d="M10 33.3334V23.3334"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                </svg>
            </div>
            <h3 class="mt-10 mb-5 text-xl sm:text-2xl xl:text-3xl font-semibold text-[#374151]">
                Business planning
            </h3>
            <p class="text-[#9CA3AF] text-xs sm:text-sm xl:text-lg">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="max-w-56 md:max-w-none flex flex-col items-center text-center">
            <div class="w-20 sm:w-28 xl:w-[140px] h-20 sm:h-28 xl:h-[140px] bg-services-light-purple flex justify-center items-center rounded-md">
                <svg
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-7 sm:w-8 xl:w-10 h-7 sm:h-8 xl:h-10"
                >
                    <path
                        d="M20 1.66663V38.3333"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                    <path
                        d="M28.3333 8.33337H15.8333C14.2862 8.33337 12.8025 8.94796 11.7085 10.0419C10.6146 11.1359 10 12.6196 10 14.1667C10 15.7138 10.6146 17.1975 11.7085 18.2915C12.8025 19.3855 14.2862 20 15.8333 20H24.1667C25.7138 20 27.1975 20.6146 28.2915 21.7086C29.3854 22.8025 30 24.2863 30 25.8334C30 27.3805 29.3854 28.8642 28.2915 29.9582C27.1975 31.0521 25.7138 31.6667 24.1667 31.6667H10"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                </svg>
            </div>
            <h3 class="mt-10 mb-5 text-xl sm:text-2xl xl:text-3xl font-semibold text-[#374151]">
                Financial planning
            </h3>
            <p class="text-[#9CA3AF] text-xs sm:text-sm xl:text-lg">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="max-w-56 md:max-w-none flex flex-col items-center text-center">
            <div class="w-20 sm:w-28 xl:w-[140px] h-20 sm:h-28 xl:h-[140px] bg-services-light-purple flex justify-center items-center rounded-md">
                <svg
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-7 sm:w-8 xl:w-10 h-7 sm:h-8 xl:h-10"
                >
                    <path
                        d="M18.3333 31.6667C25.6971 31.6667 31.6667 25.6971 31.6667 18.3333C31.6667 10.9695 25.6971 5 18.3333 5C10.9695 5 5 10.9695 5 18.3333C5 25.6971 10.9695 31.6667 18.3333 31.6667Z"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                    <path
                        d="M35 35L27.75 27.75"
                        stroke="#6366F1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                </svg>
            </div>
            <h3 class="mt-10 mb-5 text-xl sm:text-2xl xl:text-3xl font-semibold text-[#374151]">
                Market Analytics
            </h3>
            <p class="text-[#9CA3AF] text-xs sm:text-sm xl:text-lg">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>